{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Pet creation</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('owner_show',{'id': entity.owner.id }) }}">
                Back to the Owner
            </a>
        </li>
    </ul>
{% endblock %}