{% extends '::base.html.twig' %}

{% block title -%}PetType{% endblock %}

{% block body -%}
    <h1>PetType creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('pettype') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Back to the PetType list
        </a>
    </li>
</ul>
{% endblock %}
