{% extends '::base.html.twig' %}

{% block title -%}Specialty{% endblock %}

{% block body -%}
    <h1>Specialty creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('specialty') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span> Back to the Specialty list
        </a>
    </li>
</ul>
{% endblock %}
